html,body{
    height:100vh;
}
.container-fluid{
    margin:0 !important;
    padding:0 !important;
/* height:100%;     */
    
}
.row{
    height:100%;
    margin:0 !important;
}
footer{
padding:0 !important;}
.page{
background-color: #b0d6ec;
padding-top:20px;
padding-bottom:20px;

}
form{
    background-color:white;
    border-radius:15px;
    padding:20px;
    height:60vh;
}
.controls{
    text-align: right;
}
input {
    width:90% !important;
}